<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.app.infra.information.InformationMapper">

 
     <resultMap id="resultMapObj" type="com.mycompany.app.infra.information.Running_time"></resultMap>
     <resultMap id="resultMapObj2" type="com.mycompany.app.infra.information.Cinema_name2"></resultMap>
      <resultMap id="resultMapObj3" type="com.mycompany.app.infra.information.Movie2"></resultMap>
       <resultMap id="resultMapObj4" type="com.mycompany.app.infra.information.Cinema_theater2"></resultMap>
       
       
       <select id="selectList8" resultMap="resultMapObj3">
   SELECT
    movie_time
FROM 
    movie
WHERE 1=1
    AND movie_name = #{movie_name}
    AND delYN = 0	   
</select>
       <select id="selectList7" resultMap="resultMapObj3">
   SELECT
    movie_time
FROM 
    movie
WHERE 1=1
    AND seq = #{seq}
    AND delYN = 0	   
</select>
       <select id="selectList6" resultMap="resultMapObj4">
   SELECT
    seq,
    cinema_name_seq,
    cinema_type
FROM 
    cinema_theater
WHERE 1=1
    AND theater_number = #{theater_number}
    AND cinema_name_seq = #{cinema_name_seq}
    AND delYN = 0	   
</select>

<select id="selectList5" resultMap="resultMapObj4">
    select
        cinema_name_seq,
        theater_number
    from 
        cinema_theater
    where 1=1
    and
        cinema_name_seq = '${cinema_name_seq}' <!-- Use single quotes -->
    and
     	delYN = 0    
</select>
       
     <select id="selectList4" resultMap="resultMapObj4">
      select
      		*
      from
      		cinema_theater
   	  where
   	  		delYN = 0;
      
      
      </select>
       <select id="selectList3" resultMap="resultMapObj3">
      select
      		*
      from
      		movie
   	  where
   	  		delYN = 0;
      
      
      </select>
     
      <select id="selectList2" resultMap="resultMapObj2">
     SELECT DISTINCT
    a.seq,
    a.location_cinema_name,
    b.cinema_name_seq
FROM
    cinema_name a
JOIN cinema_theater b ON b.cinema_name_seq = a.seq
WHERE 
    a.delYN = 0;
      
      
      </select>
   
     <select id="selectList" resultMap="resultMapObj">
    
    	      	select
					a.seq,
					a.start_time,
					a.end_time,
					a.date,
					a.delYN,
					b.movie_name,
					d.location_cinema_name,
					c.theater_number,
					c.cinema_type
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
 				 WHERE 
 				  b.movie_name LIKE CONCAT('%',#{shKeyword},'%')
 				AND d.location_cinema_name LIKE CONCAT('%',#{shKeyword2},'%')
 				AND a.date LIKE CONCAT('%',#{shKeyword3},'%') 		
   			   <if test="shOption != null">
   			    AND c.theater_number = #{shOption}
   			    </if>
   			     <if test="shOption2 != null">
   			    AND c.cinema_type = #{shOption2}
   			    </if>
   			     <if test="shOption3 != null">
   			AND (
   			 (STR_TO_DATE(a.start_time, '%H:%i') >= STR_TO_DATE('00:00', '%H:%i') AND #{shOption3} = '00:00') OR
    (STR_TO_DATE(a.start_time, '%H:%i') >= STR_TO_DATE('09:00', '%H:%i') AND #{shOption3} = '09:00') OR
    (STR_TO_DATE(a.start_time, '%H:%i') >= STR_TO_DATE('12:00', '%H:%i') AND #{shOption3} = '12:00') OR
    (STR_TO_DATE(a.start_time, '%H:%i') >= STR_TO_DATE('18:00', '%H:%i') AND #{shOption3} = '18:00')
)
   			    </if>
				AND	 a.delYN = 0;
   

   				
    	   
    </select>
    
	<select id="selectOne" resultMap="resultMapObj">
		SELECT *
		FROM 
			running_time
		WHERE 1=1
		AND
			seq = #{seq}
	</select>
	<select id="selectOne2" resultMap="resultMapObj">
		select
					a.seq,
					a.start_time,
					a.end_time,
					a.date,
					a.delYN,
					b.movie_name,
					d.location_cinema_name,
					c.theater_number,
					c.cinema_type
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
 				 WHERE 1=1
 				 AND
 				 		a.seq = #{seq}
   				
	</select>
	
	<update id="update">
        UPDATE running_time a
    JOIN movie b ON b.seq = a.movie_seq
    JOIN cinema_theater c ON c.seq = a.cinema_theater_seq
    JOIN cinema_name d ON d.seq = c.cinema_name_seq
    SET a.start_time = #{start_time},
    	a.end_time = #{end_time},
        a.date = #{date},
        b.movie_name = #{movie_name},
        d.location_cinema_name = #{location_cinema_name},  
        c.theater_number = #{theater_number},  
        c.cinema_type = #{cinema_type} 
    WHERE a.seq = #{seq}
    </update>
    
    <delete id="delete">
    	DELETE 
    	FROM running_time
    	WHERE 1=1
    	AND 
    	seq = #{seq} 
    </delete>
    
    <insert id="insert"> 
    INSERT
    INTO running_time
    (
    start_time,
    end_time,
    date,
    movie_seq,
    cinema_theater_seq,
    delYN
    )
    VALUE
    	(
    	#{start_time},
    	#{end_time},
    	#{date},
    	#{movie_seq},
    	#{cinema_theater_seq},
    	0
    	)
    </insert>
     <update id="uelete">
        UPDATE 
        	running_time
        SET 
        	delYN = 1
        WHERE 1=1
        AND
        	seq = #{seq}
    </update>
    
    
    

	
</mapper>   