<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.app.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.mycompany.app.codegroup.CodeGroup"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT *
    	FROM
    		codeGroup
    
    </select>

</mapper>   