<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.app.infra.ticketing_detail.Ticketing_detailMapper">

 
     <resultMap id="resultMapObj" type="com.mycompany.app.infra.ticketing_detail.Ticketing_detail"></resultMap>
    <resultMap id="resultMapObj2" type="com.mycompany.app.infra.ticketing_detail.Running_time2"></resultMap>
   
   
   <update id="update">
        UPDATE    running_time
        SET     
        		seat_remain = #{seat_remain}
        WHERE  1=1
        AND
           seq = #{seq}  
    </update>
   
   
   
       <select id="selectList8" resultMap="resultMapObj">
    
    	      select
				
                a.seat_name
             
			from
				ticketing_detail a
   				join running_time b on b.seq = a.running_time_seq
  			    join movie c on c.seq = b.movie_seq
   			    join cinema_theater e on e.seq = b.cinema_theater_seq
  				join cinema_name d on d.seq = e.cinema_name_seq
   				join member g on g.seq = a.member_seq 
   		   where
   		   		 	movie_name = #{movie_name}
 				 and    cinema_type = #{cinema_type}
 				 and 	location_cinema_name = #{location_cinema_name}
 				 and	theater_number = #{theater_number}
 				 and	start_time = #{start_time}
 				 and 	date = #{date}
				 and		a.delYN =0;

   				
    	   
    </select>
       
        <select id="selectList7" resultMap="resultMapObj2">
    
    	      	select
    	      		a.seq,
    	      		 a.seat_remain, 
    	      		 a.start_time,
					 c.theater_number,
					 c.cinema_type,
					 c.seat_count
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  				 join cinema e on e.seq = d.cinema_seq
 				 WHERE 1=1
 				 and 	movie_name = #{movie_name}
 				 and    cinema_type = #{cinema_type}
 				 and 	location_cinema_name = #{location_cinema_name}
 				 and 	date = #{date}
 				 and	a.delYN =0;
				
    </select> 
       
        <select id="selectList6" resultMap="resultMapObj2">
    
    	      	select 
					 a.date
					
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  				 join cinema e on e.seq = d.cinema_seq
 				 WHERE 1=1
 				 and 	movie_name = #{movie_name}
 				 and    cinema_type = #{cinema_type}
 				 and 	location_cinema_name = #{location_cinema_name}
 				 and	a.delYN =0;
				
    </select> 
       
        <select id="selectList5" resultMap="resultMapObj2">
    
    	      	select DISTINCT
					 d.location_cinema_name
					
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  				 join cinema e on e.seq = d.cinema_seq
 				 WHERE 1=1
 				 and 	movie_name = #{movie_name}
 				 and    cinema_type = #{cinema_type}
 				 and 	location = #{location}
 				 and	a.delYN =0;
				
    </select> 
       
       <select id="selectList4" resultMap="resultMapObj2">
    
    	      	select DISTINCT
					e.location
					
					
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  				 join cinema e on e.seq = d.cinema_seq
 				 WHERE 1=1
 				 and 	movie_name = #{movie_name}
 				 and    cinema_type = #{cinema_type}
 				 and	a.delYN=0;
				
    </select>
       
       
       <select id="selectList3" resultMap="resultMapObj2">
    
    	      	select DISTINCT
					
					 e.location
				
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  				 join cinema e on e.seq = d.cinema_seq
 				 WHERE 
					 a.delYN = 0;
    </select>
       <select id="selectList2" resultMap="resultMapObj2">
    
    	      	select DISTINCT
					
					b.movie_name,
					b.view_age
				
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  	
 				 WHERE 
					 a.delYN = 0;
    </select>
      
   
     <select id="selectList" resultMap="resultMapObj">
    
    	      select
				a.seq,
                a.payment_amount,
                a.delYN,
                b.date,
                b.start_time,
                b.end_time,
                c.movie_name,
                d.location_cinema_name,
                e.theater_number,
                e.cinema_type,
                a.seat_name,
                g.name
			from
				ticketing_detail a
   				join running_time b on b.seq = a.running_time_seq
  			    join movie c on c.seq = b.movie_seq
   			    join cinema_theater e on e.seq = b.cinema_theater_seq
  				join cinema_name d on d.seq = e.cinema_name_seq
  			   
   				join member g on g.seq = a.member_seq 
   		   where
				a.delYN =0;

   				
    	   
    </select>
    
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
				a.seq,
                a.payment_amount,
                a.delYN,
                b.date,
                b.start_time,
                b.end_time,
                c.movie_name,
                d.location_cinema_name,
                e.theater_number,
                e.cinema_type,
                a.seat_name,
                g.name
		FROM 
			ticketing_detail a
   				join running_time b on b.seq = a.running_time_seq
  			    join movie c on c.seq = b.movie_seq
   			    join cinema_theater e on e.seq = b.cinema_theater_seq
  				join cinema_name d on d.seq = e.cinema_name_seq
  			   
   				join member g on g.seq = a.member_seq 
		WHERE
		
			a.seq = #{seq}
	</select>
	
	<insert id="insert">
	 INSERT
    INTO ticketing_detail
    (
    payment_amount,
    seat_name,
    member_seq,
    running_time_seq,
    delYN
    )
    VALUE
    	(
    	#{payment_amount},
    	#{seat_name},
    	#{member_seq},
    	#{running_time_seq},
    	0
    	)
	</insert>
	
	 <update id="uelete">
        UPDATE 
        	ticketing_detail
        SET 
        	delYN = 1
        WHERE 1=1
        AND
        	seq = #{seq}
    </update>
	
	
	
    
    

	
</mapper>   