<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.app.infra.ticketing_detail.Ticketing_detailMapper">

 
     <resultMap id="resultMapObj" type="com.mycompany.app.infra.ticketing_detail.Ticketing_detail"></resultMap>
    <resultMap id="resultMapObj2" type="com.mycompany.app.infra.ticketing_detail.Running_time2"></resultMap>
       
       
       
        <select id="selectList6" resultMap="resultMapObj2">
    
    	      	select 
					 b.date
					
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  				 join cinema e on e.seq = d.cinema_seq
 				 WHERE 1=1
 				 and 	movie_name = #{movie_name}
 				 and    cinema_type = #{cinema_type}
 				 and 	location_cinema_name = #{location_cinema_name}
				
    </select> 
       
        <select id="selectList5" resultMap="resultMapObj2">
    
    	      	select DISTINCT
					 d.location_cinema_name
					
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  				 join cinema e on e.seq = d.cinema_seq
 				 WHERE 1=1
 				 and 	movie_name = #{movie_name}
 				 and    cinema_type = #{cinema_type}
 				 and 	location = #{location}
				
    </select> 
       
       <select id="selectList4" resultMap="resultMapObj2">
    
    	      	select DISTINCT
					e.location
					
					
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  				 join cinema e on e.seq = d.cinema_seq
 				 WHERE 1=1
 				 and 	movie_name = #{movie_name}
 				 and    cinema_type = #{cinema_type}
 				 and	a.delYN=0;
				
    </select>
       
       
       <select id="selectList3" resultMap="resultMapObj2">
    
    	      	select DISTINCT
					
					 e.location
				
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  				 join cinema e on e.seq = d.cinema_seq
 				 WHERE 
					 a.delYN = 0;
    </select>
       <select id="selectList2" resultMap="resultMapObj2">
    
    	      	select DISTINCT
					
					b.movie_name
				
				from
 					  running_time a
 				 join movie b on b.seq = a.movie_seq
  				 join cinema_theater c on c.seq = a.cinema_theater_seq
  				 join cinema_name d on d.seq = c.cinema_name_seq
  	
 				 WHERE 
					 a.delYN = 0;
    </select>
      
   
     <select id="selectList" resultMap="resultMapObj">
    
    	      select
				a.seq,
                a.payment_amount,
                a.delYN,
                b.date,
                b.start_time,
                b.end_time,
                c.movie_name,
                d.location_cinema_name,
                e.theater_number,
                e.cinema_type,
                f.seat_name,
                g.name
			from
				ticketing_detail a
   				join running_time b on b.seq = a.running_time_seq
  			    join movie c on c.seq = b.movie_seq
   			    join cinema_theater e on e.seq = b.cinema_theater_seq
  				join cinema_name d on d.seq = e.cinema_name_seq
  			    join number_reservations f on a.seq =f.ticketing_detail_seq
   				join member g on g.seq = a.member_seq 
   		   where
				a.delYN =0;

   				
    	   
    </select>
    
	<select id="selectOne" resultMap="resultMapObj">
		SELECT *
		FROM 
			ticketing_detail
		WHERE 1=1
		AND
			seq = #{seq}
	</select>
	
	
    
    

	
</mapper>   